Flask==2.3.2
numpy==1.24.3
opencv-python==4.8.0.74
opencv-python-headless==4.8.0.74
pytesseract==0.3.10
scikit-image==0.21.0
easyocr==1.7.1
watchdog==3.0.0
scipy==1.11.1
yarl==1.9.2
pyparsing==3.0.9
colorama==0.4.6
async-timeout==4.0.2
fonttools==4.41.1
